.intro__list {
  margin: 33px 0 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  max-width: 690px;
  width: 100%;
  word-wrap: break-word;
}

@media screen and (max-width: 767px) {
  .intro__list {
    margin-top: 34px;
    /*в макете для разрешениий от 320 margin-top 34px*/
  }
}