.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  text-underline-position: under;
  /*чтобы линия подчеркивания не была сильно прижата к буквам*/
}